.g-articles {
  width: 990px;
  margin: 0 auto;
  padding: 40px 15px;
  background: #fff;
  &__header {
    padding: 0 15px;
  }
  &__content {
    &:after {
      clear: both;
    }
  }
  .g-article-item {
    float: left;
  }
}
