.g-heading {
    display: inline-block;
    font-family: 'PFDinTextPro-Thin', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 100;
    color: #a07472;
}

.g-heading a {
    text-decoration: none;
    color: #a07472;
    border-bottom: 1px solid #e2d5d4;
}

.g-heading__count {
    font-family: 'PFDinTextPro-ThinItalic', Arial, sans-serif;
    color: #777;
    margin-left: 5px;
    font-style: normal;
    vertical-align: bottom;
}

.g-heading_size_l {
    font-size: 36px;
}

.g-heading_size_l .g-heading__count {
    font-size: 30px;
}

.g-heading_size_m {
    font-size: 30px;
}

.g-heading_size_s {
    font-size: 20px;
}

.g-heading_light {
    color: #fff;
}

.g-heading_dark,
.g-heading_dark a {
    color: #3c2424;
}
