.g-promotion {
    position: relative;
    height: 498px;
    background-color: #160f10;
}

.g-promotion__inner {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.g-promotion .g-promotion-markers-list {
    position: absolute;
    width: 100%;
    bottom: 25px;
    z-index: 2;
}

.g-promotion .g-promotion-item {
    position: absolute;
    left: 40%;
    top: 50%;
    max-width: 300px;
}

.g-promotion__fotorama {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

/* new styles */
.g-promotion__item {
    position: absolute;
    height: 498px;
    left: 50%;
    top: 0px;
    z-index: 1;
    opacity: 0.7;
}

.g-promotion__item .g-image {
    width: 990px;
    height: 100%;
}

.g-promotion__item .g-image_loaded {
    width: auto;
}

.g-promotion__item .g-iamge img {
    height: 498px;
}

.g-promotion__item_active {
    opacity: 1;
    z-index: 2;
    box-shadow: 0px 0px 100px #000;
}
