.g-range {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 16px 0 0 10px;
}

.g-range__ticks {
    position: relative;
    width: 500px;
    height: 100%;
}

.g-range__tick {
    position: absolute;
    text-align: center;
    width: 52px;
    margin-left: -26px;
    top: 0;
    display: inline-block;
    font-family: 'ClearSans-Regular', Arial, sans-serif;
    font-size: 12px;
    color: #3c2424;
    height: 100%;
}

.g-range__tick__value {
    cursor: pointer;
    width: auto;
    background: transparent;
    display: inline-block;
}

.g-range__tick_left, .g-range__tick_right {
    font-family: 'ClearSans-Regular', Arial, sans-serif;
    font-size: 12px;
    color: #3c2424;
    width: 50px;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 0;
    cursor: pointer;
    margin-left: 0;
}

.g-range__content {
    height: 100%;
    width: 100%;
    padding-bottom: 18px;
}

.g-range__tick_left {
    left: -25px;
}

.g-range__tick_right {
    right: -25px;
}

.g-range__tick__stroke {
    display: block;
    width: 1px;
    height: 12px;
    margin: 0 auto;
    background: #777;
}

.g-range__handlebar {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    height: 6px;
    border: 1px solid #dead03;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px 0px #c3c3c3;
    background: #fff;
    z-index: 2;
    cursor: pointer;
}

.g-range__thumb {
    position: absolute;
    top: 6px;
    right: -9px;
    width: 19px;
    height: 17px;
    background: url('/images/sprite.png') -63px -194px;
    cursor: pointer;
}

.g-range__thumb_right {
    right: -9px;
}

.g-range__thumb_left {
    left: -9px;
}

.g-range__fill {
    position: relative;
    height: 100%;
    background: #dead03;
}
