.g-support {
    position: absolute;
    top: 24px; 
    right: 0;
    margin-right: 2%;
}

.g-support__title {
    font-family: 'ClearSans-Regular', Arial, sans-serif;
    font-size: 12px;
    font-weight: 100;
    color: #000;
    margin: 0;
}
/* @TODO рассмотреть удаление модификатора dark */
.g-support_dark .g-support__title {
    color: #fff;
}

.g-support .g-link {
    font-family: 'ClearSans-Regular', Arial, sans-serif;
    font-size: 13px;
    color: #a07472;
}

/*--- revolution of dictator ---*/

.g-support section p
{
    font-family: 'ClearSans-Regular', Arial, sans-serif;
    font-size: 13px;
    color: #a07472;
    margin: 3px 0 0 0;
    border-bottom: 1px dotted;
    display: inline-block;
}


