.g-header {
    min-height: 104px;
    position: relative;
    z-index: 3;
    transition: min-height 0.5s;
    -moz-transition: min-height 0.5s;
    -webkit-transition: min-height 0.5s;
}

.g-header_theme_light {
    background-color: #fff;
}

.g-header_theme_dark {
    background-color: #000;
}

.g-header-inner {
    padding: 12px 0;
    background-color: inherit;
}

.g-header_state_flow  .g-header-inner {
    width: 100%;
    position: fixed;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
}

.g-header.g-header_state_flow {
    min-height: 80px;
    transition: min-height 1s;
    -moz-transition: min-height 1s;
    -webkit-transition: min-height 1s;
}

.g-header_state_flow .g-logo__description {
    height: 0px;
    opacity: 0;
    transition: height 1s, opacity 0.5s;
    -moz-transition: height 1s, opacity 0.5s;
    -webkit-transition: height 1s, opacity 0.5s;
}

.g-header-inner__up.g-button_up {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 100%;
    margin-top: -17px;
    left: 50%;
    margin-left: -27px;
}

.g-header-inner__up:hover {
    text-decoration: underline;
}

.g-header_theme_dark .g-header-inner__up:hover {
    color: #fff;
}

.g-header_theme_dark .g-support__title {
    color: #fff;
}

.g-header_theme_light .g-header-inner__up:hover {
    color: #000;
}

.g-header_theme_light .g-support__title {
    color: #000;
}

.g-header .g-desires {
    position: absolute;
    right: 20%;
    top: 24px;
    text-align: center;
}

/*--- revolution of dictator ---*/

.g-header-inner__basket img {
    vertical-align: middle;
}

.g-header-inner__basket span {
    margin-left: 14px;
    font-family: 'ClearSans-Regular', Arial, sans-serif;
    font-size: 12px;
    color: #777;
}

.g-header-inner__basket {
    position: absolute;
    top: 29px;
    left: 30%;
    text-align: center;
}

.g-header-inner__basket {
    float: left;
    width: 30%;
}
