.g-article-item {
    padding: 15px;
    &_size_s {
        width: 300px;
        height: 260px;
        .g-article-item {
            &__image {
                .g-image img {
                    height: 150px;
                }
            }
        }
    }
    &_size_l {
        width: 630px;
        height: 550px;
        .g-image img{
            height: 405px;
        }
    }
    &_сorporate {
        .g-article-item {
            &__image {
                width: 300px;
                height: 150px;
                background: url('images/corporate_article.png')
            }
        }
    }
    &__image {
        margin-bottom: 10px;
    }
    &__text {
        font-family: ClearSans-Regular, Arial, sans-serif;
        font-size: 14px;
        line-height: 18px;
        color: #8f8f8f;
        padding: 5px 0;
    }
    &__date {
        font-family: ClearSans-Regular, Arial, sans-serif;
        font-size: 12px;
        color: #a07472
    }
}
